<!-- Page Content -->
<div class="container">

    <!-- Jumbotron Header -->
    <header class="jumbotron my-4">
        <h2>Who is Bhozida</h2>
        <p class="lead">
            Bhozida is an idea and opportunity data bank. <br />
            Bhozida is all about you, the entrepreneur, the Bhozida. <br />
            Bhozida is here to avail new opportunities <br />
            To help you on your journey to establishment. <br />
            All the way until you are the boss, the Bhozida
        </p>
        <a href="#" class="btn btn-primary btn-lg">See Our Details Below!</a>
    </header>

    <!-- Page Features -->
    <div class="row text-center">

        <div class="col-lg-12 col-md-6 mb-4">
            <div class="card h-100">
                <div class="card-body">
                    <h4 class="card-title">Latest News</h4>
                    <p class="card-text"><i>We have just launched 1000 Business Ideas and more
                         are still coming!!.</i></p>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-primary">More ideas here ..</a>
                </div>
            </div>
        </div>

    </div>
    <!-- /.row -->

</div>
<!-- /.container -->