<div class="row">
    <div class="col-lg-9">
      <div class="row">
        <div class="col-lg-6 col-md-6 mb-4" *ngFor="let idea of ideas">
          <div class="card h-100">
            <a routerLink="/ideas/{{idea.id}}"><img class="card-img-top img-responsive" src="http://placehold.it/1900x1080"
                alt="image here"></a>
            <div class="card-body">
              <h5 class="card-title">
                <a routerLink="/ideas/{{idea.id}}"> {{idea.name}}</a>
              </h5>
              <h5>{{idea.sector | titlecase}}</h5>
              <p class="card-text">{{idea.description}}</p>
            </div>
          </div>
        </div>
        <div *ngIf="ideas?.length==0" class="col-md-12 alert alert-warning mt-3">
          No Ideas Found
        </div>
      </div>
  
    </div>
    <!-- /.col-lg-9 -->
  </div>
  <!-- /.row -->
