

<ngb-tabset [destroyOnHide]="false">
    <ngb-tab title="Profile">
      <ng-template ngbTabContent>
        <div class="tab-content py-4">
                <div class="tab-pane active" id="profile">
                    <h5 class="mb-3">{{user.fullname}}</h5>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="col-lg-6 order-lg-1 text-center">
                                <label class="custom-file">
                                <img src="assets/images/mugabe.png" class="mx-auto img-fluid img-circle d-block" alt="avatar">
                                <h6 class="mt-2 custom-file-control"></h6>
                                    <input type="file" id="file" class="custom-file-input">
                                </label>
                            </div>
                            <h6> <strong>{{profile.financeSkillsInvestor | titlecase }} </strong>Investor</h6>
                        </div>

                        <div class="col-md-6">
                            <h6>Favourite Books</h6>
                            <a href="#" class="badge badge-dark badge-pill"
                                *ngFor="let book of books">{{book | titlecase}}</a>
                            <hr>
                            <span class="badge badge-primary"><i class="fa fa-user"></i>
                                {{profile.countryOfResidence}}</span>
                            <span class="badge badge-success"><i class="fa fa-cog"></i>
                                {{profile.industriesOfInterest}}</span>
                            <span class="badge badge-danger"><i class="fa fa-eye"></i> {{profile.mentees}}
                                Mentees</span>
                        </div>
                        <div class="col-md-12">
                            <h5 class="mt-2"><span class="fa fa-clock-o ion-clock float-right"></span> Business History
                            </h5>
                            <table class="table table-sm table-hover table-striped">
                                <tbody>
                                    <tr *ngFor="let history of history">
                                        <td>
                                            <i class="fa fa-user"> </i>{{history}}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!--/row-->
                </div>
            </div>
      </ng-template>
    </ngb-tab>
   
     
    <ngb-tab>
      <ng-template ngbTabTitle>Notifications</ng-template>
      <ng-template ngbTabContent>
        <div class="tab-pane" id="messages">
            <table class="table table-hover table-striped">
                <tbody>
                    <tr>
                        <td>
                            <span class="float-right font-weight-bold ">3 hrs ago</span> Here is the latest market analysis for ...
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class="float-right font-weight-bold">9/4</span> User J Master have added a new business idea
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
      </ng-template>
    </ngb-tab>
     
    <ngb-tab>
      <ng-template ngbTabTitle>Edit</ng-template>
      <ng-template ngbTabContent>
        <div class="tab-pane" id="edit">
            <form role="form">
                <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label"Full Name></label>
                    <div class="col-lg-9">
                        <input class="form-control" type="text" value="{{user.fullname}}">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label">Email</label>
                    <div class="col-lg-9">
                        <input class="form-control" type="email" value="{{user.email}}">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label">Business Type</label>
                    <div class="col-lg-9">
                        <input class="form-control" type="text" value="{{profile.businessType}}">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label">Residence</label>
                    <div class="col-lg-9">
                        <input class="form-control" type="url" value="{{profile.countryOfResidence}}">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label">House Ownership </label>
                    <div class="col-lg-9">
                        <input class="form-control" type="url" value="{{profile.houseOwnership}}">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label">Car Ownership </label>
                    <div class="col-lg-9">
                        <input class="form-control" type="url" value="{{profile.carOwnership}}">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label">NetWorth</label>
                    <div class="col-lg-9">
                        <input class="form-control" type="url" value="{{profile.networthInUSD}}">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label"></label>
                    <div class="col-lg-9">
                        <input type="reset" class="btn btn-secondary" value="Cancel">
                        <input type="button" class="btn btn-primary" value="Save Changes">
                    </div>
                </div>
            </form>
        </div>
      </ng-template>
    </ngb-tab>
     
  </ngb-tabset>












































 