<ngb-tabset [destroyOnHide]="false">
    <ngb-tab title="Profile">
        <ng-template ngbTabContent>
            <div class="tab-content py-4">
                <div class="tab-pane active " id="profile">
                    <h5 class="mb-3">{{user.fullname}}</h5>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="col-lg-6 order-lg-1 text-center">
                                <label class="custom-file">
                                    <img src="assets/images/profile_uni2.png"
                                        class="mx-auto img-fluid img-circle d-block" alt="avatar">
                                    <h6></h6>
                                    <br>
                                    <!--TODO this has been deactivated because the profile picture is not read-->
                                    <!-- <h6 class="mt-2 custom-file-control"></h6>
                                    <input type="file" id="file" class="custom-file-input"> -->
                                </label>
                            </div>
                            <h6> <strong>{{profile.financeSkillsInvestor | titlecase }} </strong>Investor</h6>
                        </div>

                        <div class="col-md-6">
                            <h6>Favourite Books</h6>
                            <a routerLink='' class="badge badge-dark badge-pill"
                                *ngFor="let book of books">{{book | titlecase}}</a>
                            <hr>
                            <span class="badge badge-primary"><i class="fa fa-user"></i>
                                {{profile.countryOfResidence}}</span>
                            <span class="badge badge-success"><i
                                    class="fa fa-cog"></i>{{profile.industriesOfInterest}}</span>
                            <span class="badge badge-danger"><i class="fa fa-eye"></i> {{profile.mentees}}
                                Mentees</span>
                        </div>
                        <div class="col-md-12 ">
                            <h5 class="mt-2 bg-primary"><span class="fa fa-clock-o ion-clock float-right"></span> Business History
                            </h5>
                            <table class="table table-sm table-hover table-striped">
                                <tbody>
                                    <tr *ngFor="let history of history">
                                        <td>
                                            <i class="fa fa-user"> </i>{{history}}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!--/row-->
                </div>
            </div>
        </ng-template>
    </ngb-tab>


    <ngb-tab>
        <ng-template ngbTabTitle>Notifications</ng-template>
        <ng-template ngbTabContent>
            <div class="tab-pane" id="messages">
                <table class="table table-hover table-striped">
                    <tbody>
                        <tr>
                            <td>
                                <span class="float-right font-weight-bold ">3 hrs ago</span> Here is the latest market
                                analysis for ...
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span class="float-right font-weight-bold">9/4</span> User J Master have added a new
                                business idea
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </ng-template>
    </ngb-tab>

    <ngb-tab>
        <ng-template ngbTabTitle>Edit</ng-template>
        <ng-template ngbTabContent>
            <br />
            <div class="tab-pane" id="edit">
                <form role="form" id="profileForm" #profileform="ngForm" (ngSubmit)="onFormSubmit(profileform.value)">
                    <div class="form-group row">
                        <label class="col-lg-3 col-form-label form-control-label">Full Name</label>
                        <div class="col-lg-4">
                            <input class="form-control" name="fullname" #ngModel type="text"
                                [(ngModel)]="user.fullname">
                        </div>
                    </div>
                    <div class="form-group row d-none">
                        <label class="col-lg-3 col-form-label form-control-label ">ID</label>
                        <div class="col-lg-9 ">
                            <input class="form-control " type="text" name="id" #ngModel [(ngModel)]="profile.id">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-lg-3 col-form-label form-control-label">Year of Birth</label>
                        <div class="col-lg-9">
                            <input class="form-control" type="text" name="yearOfBirth" #ngModel
                                [(ngModel)]="profile.yearOfBirth">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-lg-3 col-form-label form-control-label">Marital Status</label>
                        <div class="col-lg-9">
                            <select class="form-control" type="url" name="maritalStatus" #ngModel
                                [(ngModel)]="profile.maritalStatus">
                                <option value="true">True</option>
                                <option value="false">False</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-lg-3 col-form-label form-control-label">Number Of Direct Dependencies</label>
                        <div class="col-lg-9">
                            <select class="form-control" type="url" name="numberOfDirectDependencies" #ngModel
                                [(ngModel)]="profile.numberOfDirectDependencies">
                                <option>0</option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                                <option>10</option>
                                <option>20</option>
                                <option>30</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-lg-3 col-form-label form-control-label">Business Type</label>
                        <div class="col-lg-9">
                            <input class="form-control" type="text" name="businessType" #ngModel
                                [(ngModel)]="profile.businessType">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-lg-3 col-form-label form-control-label">Residence</label>
                        <div class="col-lg-9">
                            <select class="form-control" type="url" name="countryOfResidence" #ngModel
                                [(ngModel)]="profile.countryOfResidence">
                                <option>Zimbabwe</option>
                                <option>South Africa</option>
                                <option>East Africa</option>
                                <option>West Africa</option>
                                <option>UK</option>
                                <option>US</option>
                                <option>China</option>
                                <option>Europe</option>
                                <option>Asia</option>
                                <option>Americas</option>
                            </select>

                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-lg-3 col-form-label form-control-label">House Ownership </label>
                        <div class="col-lg-9">
                            <select class="form-control" type="url" name="houseOwnership" #ngModel
                                [(ngModel)]="profile.houseOwnership">
                                <option value="true">True</option>
                                <option value="false">False</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-lg-3 col-form-label form-control-label">Car Ownership </label>
                        <div class="col-lg-9">
                            <select class="form-control" type="url" name="carOwnership" #ngModel
                                [(ngModel)]="profile.carOwnership">
                                <option value="true">True</option>
                                <option value="false">False</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-lg-3 col-form-label form-control-label">Biggest Expense</label>
                        <div class="col-lg-9">
                            <select class="form-control" type="url" name="biggestExpense" #ngModel
                                [(ngModel)]="profile.biggestExpense">
                                <option>1000</option>
                                <option>5000</option>
                                <option>10000</option>
                                <option>15000</option>
                                <option>20000</option>
                                <option>25000</option>
                                <option>50000</option>
                                <option>100000</option>
                                <option>200000</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-lg-3 col-form-label form-control-label">NetWorth</label>
                        <div class="col-lg-9">
                            <select class="form-control" type="url" name="networthInUSD" #ngModel
                                [(ngModel)]="profile.networthInUSD">
                                <option>1000</option>
                                <option>5000</option>
                                <option>10000</option>
                                <option>15000</option>
                                <option>20000</option>
                                <option>25000</option>
                                <option>50000</option>
                                <option>100000</option>
                                <option>200000</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-lg-3 col-form-label form-control-label">Entrepreneur History</label>
                        <div class="col-lg-9">
                            <textarea class="form-control" type="url" name="entrepreneurHistory" #ngModel
                                [(ngModel)]="profile.entrepreneurHistory"></textarea>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-lg-3 col-form-label form-control-label">employees</label>
                        <div class="col-lg-9">
                            <select class="form-control" type="url" name="employees" #ngModel
                                [(ngModel)]="profile.employees">
                                <option>0</option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                                <option>10</option>
                                <option>20</option>
                                <option>30</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-lg-3 col-form-label form-control-label">Entrepreneur Start Year</label>
                        <div class="col-lg-9">
                            <input class="form-control" type="url" name="entrepreneurStartYear" #ngModel
                                [(ngModel)]="profile.entrepreneurStartYear">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-lg-3 col-form-label form-control-label">Mentors</label>
                        <div class="col-lg-9">
                            <select class="form-control" type="url" name="mentors" #ngModel
                                [(ngModel)]="profile.mentors">
                                <option>0</option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                                <option>10</option>
                                <option>20</option>
                                <option>30</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-lg-3 col-form-label form-control-label">Mentees</label>
                        <div class="col-lg-9">
                            <select class="form-control" type="url" name="mentees" #ngModel
                                [(ngModel)]="profile.mentees">
                                <option>0</option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                                <option>10</option>
                                <option>20</option>
                                <option>30</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-lg-3 col-form-label form-control-label">Business Registered</label>
                        <div class="col-lg-9">
                            <select class="form-control" type="url" name="businessRegistered" #ngModel
                                [(ngModel)]="profile.businessRegistered">
                                <option value="true">True</option>
                                <option value="false">False</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-lg-3 col-form-label form-control-label">Business Types Of Interest</label>
                        <div class="col-lg-9">
                            <input class="form-control" type="url" name="businessTypesOfInterest" #ngModel
                                [(ngModel)]="profile.businessTypesOfInterest">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-lg-3 col-form-label form-control-label">Industries Of Interest</label>
                        <div class="col-lg-9">
                            <input class="form-control" type="url" name="industriesOfInterest" #ngModel
                                [(ngModel)]="profile.industriesOfInterest">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-lg-3 col-form-label form-control-label">Finance Skills Investor</label>
                        <div class="col-lg-9">
                            <select class="form-control" type="url" name="financeSkillsInvestor" #ngModel
                                [(ngModel)]="profile.financeSkillsInvestor">
                                <option>Skills</option>
                                <option>Finance</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-lg-3 col-form-label form-control-label">Business Partner Age Group</label>
                        <div class="col-lg-9">
                            <select class="form-control" type="url" name="businessPartnerAgeGroup" #ngModel
                                [(ngModel)]="profile.businessPartnerAgeGroup">
                                <option>16-35</option>
                                <option>36-45</option>
                                <option>46+</option>
                                <option>All</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-lg-3 col-form-label form-control-label">Business Partner Gender Group</label>
                        <div class="col-lg-9">
                            <select class="form-control" type="url" name="businessPartnerGenderGroup" #ngModel
                                [(ngModel)]="profile.businessPartnerGenderGroup">
                                <option value="male">Male</option>
                                <option value="female">Female</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label
                            class="col-lg-3 col-form-label form-control-label">Attended Financial Literacy Courses</label>
                        <div class="col-lg-9">
                            <select class="form-control" type="url" name="attendedFinancialLiteracyCourses" #ngModel
                                [(ngModel)]="profile.attendedFinancialLiteracyCourses">
                                <option value="true">True</option>
                                <option value="false">False</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-lg-3 col-form-label form-control-label">Attended Sales Coaching Courses</label>
                        <div class="col-lg-9">
                            <select class="form-control" type="url" name="attendedSalesCoachingCourses" #ngModel
                                [(ngModel)]="profile.attendedSalesCoachingCourses">
                                <option value="true">True</option>
                                <option value="false">False</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-lg-3 col-form-label form-control-label">Best Three Motivational Books</label>
                        <div class="col-lg-9">
                            <input class="form-control" type="url" name="bestThreeMotivationalBooks" #ngModel
                                [(ngModel)]="profile.bestThreeMotivationalBooks">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-lg-3 col-form-label form-control-label">Highest Qualification</label>
                        <div class="col-lg-9">
                            <select class="form-control" type="url" name="highestQualification" #ngModel
                                [(ngModel)]="profile.highestQualification">
                                <option>Certificate</option>
                                <option>Degree</option>
                                <option>High School</option>
                                <option>None</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-lg-3 col-form-label form-control-label"></label>
                        <div class="col-lg-6">
                            <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Save
                                Changes</button>
                        </div>
                    </div>
                </form>
            </div>
        </ng-template>
    </ngb-tab>

</ngb-tabset>